
*{
 box-sizing:border-box;
}
html,body{
 margin:0;
 padding:0;
 background:#96858F;
 color:#333;
 font-family:'Open Sans','Trebuchet MS','Arial',sans-serif;
 font-size:14px;
}
.container{
 width:1200px;
 float:left;
 position:relative;
 left:50%;
 margin-left:-600px;
 background:#fff;
 padding:10px;
}
a{
 text-decoration:none;
 color:#6D7993;
}

/** HEADER AND FOOTER**/

header,footer,article,nav,section{
 float:left;
 padding:20px;
}
header,footer{
 width:100%;
}
header,footer{
 background-color:#6D7993;
 color:#D5D5D5;
 text-align:right;
 height:100px;
}
header{
 font-size:1.8em;font-weight:bold;
}
header big{
 line-height:130px;
 vertical-align:bottom;
}
footer{
 background-color:#6D7993;
 text-align:center;
 height:50px;
}
footer a{
 text-decoration:none;
 color: #D5D5D5;
 font-weight:bold;
}

/** LEFT SIDE NAVIGATION **/

nav{
 text-align:center;
 width:25%;
 margin-right:1%;
 border:10px solid #6D7993;
 margin:10px;
}
nav a{
 display:block;
 width:100%;
 background-color: #9099A2;
 color:white;
 height:30px;
 margin-bottom:10px;
 padding:10px;
 border-radius:
 3px;
 line-height:10px;
 vertical-align:middle;
}
nav a:hover,nav a:active{
 background-color:#D5D5D5;
}   










