.left-column, .right-column{
  float:center;
}
.left-column{
  width:30%; 
}
.right-column{
  width:60%; 
}
div{
  padding:20px;
  border:solid 12px  #9099A2;
}

#container { display: table; }

#row { display: table-row; }

#left, #right, #middle { display: table-cell; }

}
