div.img {
    margin: 0px;
    border: 25px solid #9099A2;
    float: left;
    width: 215px;
}

div.img:hover {
    border: 25px solid  #6D7993;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>


