.loginform input:not([type=submit]) {
 
 
 input {
    width: 100%;
}
  input {
    width: 100%;
}
  padding: 15px;
  margin-right: 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 13px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}


.loginform ul {
  padding: 20;
  margin: 20;
}
.loginform li {
  display: inline;
  float: center;
}
 
